<main class="flex-shrink-0">
    <div class="container-lg pt-4">

        <h1>Virtual Field Trips</h1>
        <div class="pb-2">Explore this showcase of virtual field trips from the University of Birmingham</div>

        <div class="row pt-4 pb-4">

            <div class="row pb-3">
                <div class="col-sm-4">
                    <div class="row bg-light border h-100 rounded-3 p-2 gx-3">
                        <div class="col-6"><h4>BIFoR</h4>
                            <p>Explore the University's FACE experiment. Includes teaching resources for A Level and
                                GCSE.</p></div>
                        <div class="col-6"><img alt="BIFoR" class="img-thumbnail img-fluid"
                                                src="assets/thumbnails/bifor_thumb.jpg">
                            <div class="pt-2 d-flex justify-content-end"><a class="btn btn-outline-secondary"
                                                                            [routerLink]="['/fieldtrip', 3]">Explore</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row bg-light border h-100 rounded-3 p-2 gx-3 ">
                        <div class="col-6"><h4>Peak District</h4>Learn about the geology and ecology of the Peak
                            District with this trip to the Castleton area.
                        </div>
                        <div class="col-6"><img alt="Winnats Pass" class="img-thumbnail img-fluid"
                                                src="assets/thumbnails/winnats_pass_thumb.jpg">
                            <div class="pt-2 d-flex justify-content-end"><a class="btn btn-outline-secondary"
                                [routerLink]="['/fieldtrip', 1]">Explore</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row bg-light border h-100 rounded-3 p-2 gx-3 ">
                        <div class="col-6"><h4>Finse</h4>A virtual succession exercise, and field guide, at
                            Hardangerjøkulen, a Norwegian glacier.
                        </div>
                        <div class="col-6"><img alt="Finse" class="img-thumbnail img-fluid"
                                                src="assets/thumbnails/glacier_thumb.jpg">
                            <div class="pt-2 d-flex justify-content-end"><a class="btn btn-outline-secondary"
                                [routerLink]="['/fieldtrip', 2]">Explore</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="row bg-light border h-100 rounded-3 p-2 gx-3 ">
                        <div class="col-6"><h4>Black Mountains</h4>Geology in the Black Mountains, Wales.</div>
                        <div class="col-6"><img alt="Black Mountains"
                                                class="img-thumbnail img-fluid"
                                                src="assets/thumbnails/black_mountains_thumb.jpg">
                            <div class="pt-2 d-flex justify-content-end"><a class="btn btn-outline-secondary"
                                [routerLink]="['/fieldtrip', 4]">Explore</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row bg-light border h-100 rounded-3 p-2 gx-3 ">
                        <div class="col-6"><h4>Shrewsbury Prison</h4>Explore a victorian prison in Shropshire.</div>
                        <div class="col-6"><img alt="Shrewsbury Prison"
                                                class="img-thumbnail img-fluid"
                                                src="assets/thumbnails/shrewsbury_prison_thumb.jpg">
                            <div class="pt-2 d-flex justify-content-end"><a class="btn btn-outline-secondary"
                                [routerLink]="['/fieldtrip', 5]">Explore</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="row bg-light border h-100 rounded-3 p-2 gx-3 ">
                        <div class="col-6"><h4>Lickey Hills</h4>Environmental Sciences trip to the Lickey Hills in
                            Worcestershire.
                        </div>
                        <div class="col-6"><img alt="Lickey Hills" class="img-thumbnail img-fluid"
                                                src="assets/thumbnails/lickey_hills_thumb.jpg">
                            <div class="pt-2 d-flex justify-content-end"><a class="btn btn-outline-secondary"
                                [routerLink]="['/fieldtrip', 6]">Explore</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</main>

