<div class="container-fluid">
    <div class="row">
        <h3>Site Overview</h3>
        <div class="col-sm-6" [innerHTML]="currentSite?.description">
            
        </div>
        <div class="col-sm-6">
            <!-- IF image use this (move this to service?)-->
            @if (currentSite?.homepageImage) {
            <div>
                <img [src]='"assets"+currentSite.homepageImage' alt='homepage image' width="400" class="responsive img-fluid border"/>
            </div>}
            @else {
            <!-- ELSE use map -->
            <div>
                <img [src]='currentSite?.localMap' alt='local map' width="400"  class="responsive img-fluid border "/>
            </div>
            }
        </div>
    </div>
</div>
