<script src="node_modules/feather-icons/dist/feather.min.js"></script>

<header class="py-3">
  <div class="container-fluid d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
          <img height="100" src="/assets/logos/fieldtrip_logo.png" alt="Field Trip Online Logo"/>
      </a>

      <img height="100" src="../assets/logos/hefi_logo.png" alt="HEFi Logo"/>
  </div>
</header>
<nav th:fragment="main_nav (active)" aria-label="Nav Bar" class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
      <button aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
              data-bs-target="#navbarsExample02" data-bs-toggle="collapse" type="button">
          <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarsExample02">
          <ul class="navbar-nav me-auto">
              <li class="nav-item">
                  <a class="nav-link" id="home" th:classappend="${active == 'home'} ?'active'" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="showcase" th:classappend="${active == 'showcase'} ?'active'" href="/showcase">Showcase</a>
              </li>
              <li class="nav-item">
                  <a id="embedded_map" class="nav-link" th:classappend="${active == 'map'} ?'active'" href="/fieldtripmap">Map</a>
              </li>
              <li class="nav-item">
                  <a id="fieldguide" class="nav-link" th:classappend="${active == 'fieldguide'} ?'active'" href="/fieldguide/fieldguide?id=1">Field Guide</a>
              </li>
          </ul>
          <form>
              <!--<input aria-label="Search" class="form-control" placeholder="Search" type="text">-->
          </form>
      </div>
  </div>
</nav>
<nav class="col-md-3 col-lg-2 d-md-block bg-light sidebar" id="sidebarMenu" th:fragment="sidebarMenu (site_id, field_trip_id)">
  <div class="position-sticky pt-3">
      <ul class="nav flex-column">
          <li class="nav-item">
              <a aria-current="page" class="nav-link active" href="/fieldsite" th:href="'/fieldsite?id='+ ${site_id}">
                  <span data-feather="home"></span>
                  Field Site Home
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/site/tour" th:href="'/site/tour?id='+ ${site_id}">
                  <span data-feather="map-pin"></span>
                  Virtual Tour
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/drone" th:href="'/site/drone?id='+ ${site_id}">
                  <span data-feather="video"></span>
                  Drone Footage
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/site/map" th:href="'/site/map?id='+ ${site_id}">
                  <span data-feather="map"></span>
                  Site Map
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" th:href="'/fieldguide/fieldguide?id='+ ${site_id}">
                  <span data-feather="book-open"></span>
                  Field Guide
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" th:href="'/site/activities?id='+ ${site_id}">
                  <span data-feather="book-open"></span>
                  Activities
              </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#" th:href="'/loadfieldtrip?id='+ ${field_trip_id}">
                  <span data-feather="home"></span>
                  Back to Trip Overview
              </a>
          </li>
      </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<script>
  feather.replace();
</script>
