<script src="node_modules/feather-icons/dist/feather.min.js"></script>

<header class="py-3">
  <div class="container-fluid d-flex flex-wrap justify-content-center">
      <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
          <img height="100" src="/assets/logos/fieldtrip_logo.png" alt="Field Trip Online Logo"/>
      </a>

      <img height="100" src="/assets/logos/hefi_logo.png" alt="HEFi Logo"/>
  </div>
</header>
<nav th:fragment="main_nav (active)" aria-label="Nav Bar" class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
      <button aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
              data-bs-target="#navbarsExample02" data-bs-toggle="collapse" type="button">
          <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarsExample02">
          <ul class="navbar-nav me-auto">
              <li class="nav-item">
                  <a class="nav-link" id="home" th:classappend="${active == 'home'} ?'active'" href="/">Home</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="showcase" routerLink="/showcase" routerLinkActive="active" ariaCurrentWhenActive="page">Showcase</a>
              </li>
              <li class="nav-item">
                  <a id="embedded_map" class="nav-link" th:classappend="${active == 'map'} ?'active'" href="/fieldtripmap">Map</a>
              </li>
              <li class="nav-item">
                  <a id="fieldguide" class="nav-link" th:classappend="${active == 'fieldguide'} ?'active'" href="/fieldguide/fieldguide?id=1">Field Guide</a>
              </li>
          </ul>
          <form>
              <!--<input aria-label="Search" class="form-control" placeholder="Search" type="text">-->
          </form>
      </div>
  </div>
</nav>

<router-outlet></router-outlet>


<footer th:fragment="footer" class="footer mt-auto py-3 bg-light">
  <div class="container-fluid ">
      <span class="text-muted d-flex justify-content-end mx-3">All content copyright University of Birmingham unless specified</span>
  </div>
</footer>

<script>
  feather.replace();
</script>
