<loading-indicator *ngIf="loading"></loading-indicator>

<div class="border-bottom" *ngIf="!loading">
    <h1 class="h2" th:text="'Field Guide for ' + ${fieldSite.getName()}">Field Guide</h1>
</div>


<div class="container-fluid px-4 py-3" *ngIf="!loading">
    <div class="row py-2 text-bg-primary" >
        <div class="col">Species Recorded</div>
    </div>
    <div class="row py-4" >
        <div class="col-sm">
            <h3>Plants and Fungi</h3>
            <ul>
                <li *ngFor="let species of otherSpeciesList">
                    <img *ngIf="species.thumbnail!=null" src={{getBase64(species.thumbnail)}} alt={{species.vernacularName}} width="100px" height="100px" class="img-thumbnail m-1"/>
                    <img *ngIf="species.thumbnail==null" src="assets/thumbnails/no-image.png" alt="No image available" width="100px" height="100px" class="img-thumbnail m-1"/>
                    <a [routerLink]="['/species',species.id]">
                           {{species.vernacularName}}</a><em> {{species.speciesName}}</em>
                </li>
            </ul>
        </div>
        <div class="col-sm p-2">
          <h3>Animals</h3>
            <ul>
                <li *ngFor="let species of animalList">
                    <img *ngIf="species.thumbnail!=null" src={{getBase64(species.thumbnail)}} alt={{species.vernacularName}} width="100px" height="100px" class="img-thumbnail m-1"/>
                    <img *ngIf="species.thumbnail==null" src="assets/thumbnails/no-image.png" alt="No image available" width="100px" height="100px" class="img-thumbnail m-1"/>
                    <a href="${'/fieldguide/species?speciesid='+ species.getId() +'&id=' + fieldSite.getId()}">
                    {{species.vernacularName}}</a><em> {{species.speciesName}}</em>
                </li>
            </ul>
        </div>
    </div>

    <div class="row py-2 text-bg-primary">
        <div></div>
    </div>

</div>

