<div class="border-bottom">
    <h1 class="h2" th:text="'Field Guide for ' + ${fieldSite.getName()}">Field Guide</h1>
</div>

<loading-indicator *ngIf="loading"></loading-indicator>

<div class="container-fluid px-4 py-3" *ngIf="!loading">
    <div class="row">
        <div class="col-md-2">Filter by:</div>
        <div class="col-md-4">
            <input type="text" (keyup)="onSearch($any($event.target).value)"/>
        </div>
    </div>  

    <div class="row py-4" >
        <div class="col-sm p-2" *ngIf="species$ | async as speciesObs">
            <h3>All via observable</h3>
              <ul>
                  <li *ngFor="let species of speciesObs">
                      <img *ngIf="species.thumbnail!=null" src={{getBase64(species.thumbnail)}} alt={{species.vernacularName}} width="100px" height="100px" class="img-thumbnail m-1"/>
                      <img *ngIf="species.thumbnail==null" src="assets/thumbnails/no-image.png" alt="No image available" width="100px" height="100px" class="img-thumbnail m-1"/>
                      <a [routerLink]="['/species',species.id]">
                        {{species.vernacularName}}</a><em> {{species.speciesName}}</em>
                  </li>
              </ul>
          </div>
    </div>
</div>

