<div class="container">
    <div class="row p-4">
        <div class="col">
            <img class="responsive img-fluid" src="/logos/field_trip_logo_lrg.png"/>
        </div>
        <div class="col d-flex align-items-center lead pt-2">
            <p>A collection of virtual field trips hosted by the Higher Education Futures institute (HEFi).<br/><br/>
                Browse our publicly accessible showcase, or select an Institution from the dropdown.<br/><br/>
                <select>
                    <option>University of Birmingham</option>
                </select>
                <a class="btn mx-2 btn-outline-secondary" routerLink="/showcase">Go</a>
            </p>
        </div>
    </div>
</div>

